.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.cards > ul > li {
  border-radius: 35px 35px 35px 35px;
  border: 1px solid #dadada;
  background-color: var(--background-color);  
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 35px 35px 0 0;
}

/* Tablet - 2 columns */
@media (width < 900px) {
  .cards > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile - 1 column */
@media (width < 600px) {
  .cards > ul {
    grid-template-columns: 1fr;
  }
}

.cards .card-tag {
  display: inline-block;
  background-color: var(--orange-color);
  color: white;
  padding: 4px 10px;
  border-radius:154px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}