.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  text-align: left;
}

.hero h1 {
  max-width: 1200px;
  margin-left: 0;
  margin-right: 0;
  color: var(--background-color);
}

.hero > div:last-child > div {
  max-width: 1200px;
  margin: 0 auto;
}

.hero .hero-eyebrow {
  display: block;
  width: fit-content;
  margin: 0 0 16px;
  border-radius: 154px;
  background-color: var(--orange-color);
  padding: 4px 10px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}