footer {
  background-color: #12181a;
  color: #b8bcbb;
  font-size: var(--body-font-size-xs);
  border-top: 4px solid #ff6a1a;
}

footer .footer h6 {
  color: #fff;
}

footer .footer a:any-link {
  color: #b8bcbb;
}

footer .footer a:hover {
  color: #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    max-width: none;
    padding: 40px 8% 24px;
  }

  footer .footer .columns > div {
    text-align: center;
  }

  /* bottom row: copyright at start, tagline at end */
  footer .footer .section.columns-container + .section.columns-container .columns > div {
    text-align: initial;
  }

  footer .footer .section.columns-container + .section.columns-container .columns > div > div:last-child {
    text-align: right;
  }

  footer .footer .section.columns-container + .section.columns-container {
    margin-top: 32px;
    border-top: 1px solid rgb(255 255 255 / 15%);
    padding-top: 32px;
  }
}
